<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>

<h2>Добавить пользователя</h2>

<form th:action="@{/addUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label for="name">Имя:</label>
    <input type="text" id="name" th:field="*{name}" required/><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div><br>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" th:field="*{surname}" required/><br>
    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div><br>

    <label for="age">Возраст:</label>
    <input type="number" id="age" th:field="*{age}" required/><br>
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div><br>

    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" th:field="*{username}" required/><br>
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" th:field="*{password}" required/><br>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div><br>

    <label for="roles">Роли:</label><br>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
        <label th:text="${role.name}"></label><br>
    </div>
    <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div><br>

    <button type="submit">Сохранить</button>
</form>


<form th:action="@{/logout}" method="post" style="display: inline;">
    <button type="submit" class="logout-button">Выйти</button>
</form>

</body>
</html>
